madridE2ERollingTest/pipeline/Child_Pipeline.json
{
	"name": "Child_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Data flow1",
				"type": "ExecuteDataFlow",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "testingDataFlow",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Data flow1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "pipelineReturnValue",
					"value": [
						{
							"key": "testing",
							"value": {
								"type": "Expression",
								"content": "@activity('Data flow1').output"
							}
						}
					],
					"setSystemVariable": true
				}
			}
		],
		"policy": {
			"cancelAfter": {
				"duration": "30.00:00:00"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-30T11:23:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}