madridE2ERollingTest/pipeline/Parent_Pipeline.json
{
	"name": "Parent_Pipeline",
	"properties": {
		"activities": [
			{
				"name": "Execute Pipeline1",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "Child_Pipeline",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Execute Pipeline1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "var1",
					"value": {
						"value": "@activity('Execute Pipeline1').output.pipelineReturnValue.testing.PipelineID",
						"type": "Expression"
					}
				}
			}
		],
		"policy": {
			"cancelAfter": {
				"duration": "30.00:00:00"
			}
		},
		"variables": {
			"var1": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-03-30T11:23:03Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}